<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <style>
        #dialog{
            background: white;
            text-align: center;
            color: rgba(206,15,240,0.46);
            padding: 20% 0;
            font-size: 30px;
            width: 100%;
            height: 100px;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            $(".timeBar").each(function () {
                $(this).countdownsync({
                    dayTag: "",
                    hourTag: "<label class='tt hh dib vam'>00</label><span>时</span>",
                    minTag: "<label class='tt mm dib vam'>00</label><span>分</span>",
                    secTag: "<label class='tt ss dib vam'>00</label><span>秒</span>",
                    dayClass: ".dd",
                    hourClass: ".hh",
                    minClass: ".mm",
                    secClass: ".ss",
                    isDefault: false,
                    showTemp:1

                }, function () {
                    location.reload();
                });
            });
        });
    </script>
</head>
<body>
<div id="app">
    <div class="layui-container" style="width: 700px;height: 600px;margin-top: 0px;padding-top: 60px;">

    <div style="margin-left: 460px; width: 200px;">
        欢迎回来！<a href="/menu/redirect/order" th:text="${session.user.nickname}"></a><a href="/account/logout">&nbsp;&nbsp;&nbsp;<button class="layui-btn layui-btn-warm layui-btn-radius">退出</button></a>
    </div>

        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>编号</th>
                <th>设备编号</th>
                <th>品牌</th>
                <th>地址</th>
                <th>分类</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in list">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.brand.name}}</td>
                <td>{{item.location.name}}</td>
                <td>{{item.type.name}}</td>
                <td>
                    <button class="layui-btn" :id="'btn'+item.id" @click="changeState(item)">开始</button>
                </td>
            </tr>
            </tbody>
        </table>
    <table class="layui-hide" id="test" lay-filter="test"></table>
<!--    <script type="text/html" id="barDemo">-->
<!--        <button class="layui-btn layui-btn-xs" lay-event="start">开始</button>-->
<!--        <button class="layui-btn layui-btn-xs" lay-event="end">结束</button>-->
<!--    </script>-->

    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<!--    <script>-->
<!--        layui.use('table', function(){-->
<!--            var table = layui.table;-->

<!--            table.render({-->
<!--                elem: '#test'-->
<!--                ,url:'/menu/findAll'-->
<!--                ,title: '菜单列表'-->
<!--                ,cols: [-->
<!--                    [-->
<!--                        {field:'id', width:100, title: '编号', sort: true}-->
<!--                        ,{field:'name', width:150, title: '设备',templet:function (data) {-->
<!--                            return data.name-->
<!--                        }}-->
<!--                        ,{field:'price', width:100, title: '品牌',templet:function (data) {-->
<!--                            return data.brand.name-->
<!--                        }}-->
<!--                        ,{field:'flavor', width:100, title: '地址',templet:function (data) {-->
<!--                            return data.location.name-->
<!--                        }}-->
<!--                        ,{field:'tid',width:100,  title: '分类',templet:function(data){-->
<!--                            return "data.type.name"-->
<!--                        }-->
<!--                    }-->
<!--                        ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:120}-->
<!--                    ]-->
<!--                ]-->
<!--                ,page: true-->
<!--            });-->

<!--            //监听行工具事件-->
<!--            table.on('tool(test)', function(obj){-->
<!--                var data = obj.data;-->
<!--                if(obj.event === 'start'){-->
<!--                    // window.location.href="/order/save/"+data.id;-->
<!--                    console.log(obj)-->
<!--                    let dom = document.getElementById();-->
<!--                }-->
<!--            });-->
<!--        });-->
<!--    </script>-->


</div>
</div>
<script>

    //二级菜单联动
    layui.use('element', function(){
        var element = layui.element;

    });
</script>

<script type="text/javascript">
    var vue = new Vue({
        el: '#app',
        data: {
            list:[],
            total: 0,
            // state: 1
        },
        methods: {
            changeState(item){
                let self = this;
                let date = new Date();
                console.log(item)
                let dom = document.getElementById("btn"+item.id);
                if (item.state == 1) {//点击开始按钮
                    item.startTime = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
                    console.log(item.startTime)
                    dom.className = "layui-btn layui-btn-danger";
                    dom.textContent = "结束";
                    item.state = 0
                } else {//结束
                    item.endTime = date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()+" "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();

                    let a = Math.floor(2+Math.random()*4);
                    $.ajax({
                        url: 'http://localhost:8010/order/addLog',
                        type: "POST",
                        async: false,
                        contentType: "application/json",
                        headers: {
                          "X-Requested-With": "XMLHttpRequest"
                        },
                        xhrFields: {withCredentials: true},
                        data: JSON.stringify({
                            "deviceId": item.id,
                            "acWater": a*10,
                            "acElc": a,
                            "startTime": item.startTime,
                            "endTime": item.endTime
                        }),
                        dataType: "json",
                        success: data => {
                            console.log(data)
                        },
                        error: function (e) {
                            console.log(e)
                        }
                    });

                    dom.className = "layui-btn";
                    dom.textContent = "开始";
                    item.state = 1
                }
            },
            getTableData() {
                console.log("test")
                let self = this;
                $.ajax({
                    url: '/menu/findAll',
                    type: "GET",
                    async: false,
                    contentType: "application/json",
                    data: {
                        "page": 1,
                        "limit": 10
                    },
                    dataType: "json",
                    success: data => {
                        self.list = data.data
                        self.list.forEach(item => {
                            item.state = 1
                        })
                        console.log(data)
                    },
                    error: function (e) {
                        console.log(e)
                    }
                });
            }
        },
        mounted() {
            this.getTableData()
        }
    });
</script>
</body>
</html>