<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <meta charset="utf-8">
    <title>js筛选功能</title>
    <!--<link type="text/css" href="css/style.css" rel="stylesheet" />-->
    <link rel="stylesheet" th:href="@{/layui/css/style.css}" media="all">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
</head>
<body>
<div id="app">
<!--    <div id="box">-->
<!--        <dl>-->
<!--            <dt>品牌：</dt>-->
<!--            <dd>美的</dd>-->
<!--            <dd>海尔</dd>-->
<!--            <dd>格力</dd>-->
<!--        </dl>-->
<!--        <dl>-->
<!--            <dt>小区：</dt>-->
<!--            <dd onclick="test()">水韵城</dd>-->
<!--            <dd>项王小区</dd>-->
<!--            <dd>水木江南</dd>-->
<!--            <dd>碧桂园</dd>-->
<!--        </dl>-->
<!--        <dl>-->
<!--            <dt>运营商：</dt>-->
<!--            <dd>U净</dd>-->
<!--            <dd>轻氧</dd>-->
<!--            <dd>衣洗林</dd>-->
<!--            <dd>懒猴洗衣</dd>-->
<!--            <dd>星云</dd>-->
<!--        </dl>-->
<!--        <dl class="select" style="border-bottom-width: 0px;">-->
<!--            <dt>已选条件：</dt>-->
<!--        </dl>-->
<!--    </div>-->

    <div class="layui-container" style="margin-top: 50px;width: 750px;">
        <div id="header" style="margin-left: 90px">
            <div style="width: 25%;float: left">
                <input type="text" placeholder="请输入品牌" class="layui-input" v-model="brand"/>
            </div>
            <div style="width: 25%;float: left">
                <input type="text" placeholder="请输入地址" class="layui-input" v-model="location"/>
            </div>
            <div style="width: 25%;float: left">
                <input type="text" placeholder="请输入类别" class="layui-input" v-model="type"/>
            </div>
            <button @click="search" class="layui-btn layui-btn-normal" style="float: bottom"><i class="layui-icon layui-icon-search"></i>查询</button>
        </div>
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col width="150">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>编号</th>
                <th>设备编号</th>
                <th>品牌</th>
                <th>地址</th>
                <th>分类</th>
                <th width="100px">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="item in tableData">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.brand.name}}</td>
                <td>{{item.location.name}}</td>
                <td>{{item.type.name}}</td>
                <td>
                    <button class="layui-btn" :id="'btn'+item.id">编辑</button>
<!--                    <button class="layui-btn" :id="'btn'+item.id">删除</button>-->
                </td>
            </tr>
            </tbody>
        </table>
        <div id="test1"></div>
        <script>
            layui.use('laypage', function(){
                var laypage = layui.laypage;

                //执行一个laypage实例
                laypage.render({
                    elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                    ,count: 15 //数据总数，从服务端得到
                });
            });
        </script>
<!--        <table class="layui-hide" id="test" style="width: 300px" lay-filter="test"></table>-->
<!--        <script type="text/html" id="barDemo">-->
<!--            <button class="layui-btn layui-btn-xs" lay-event="edit" onclick="test()">编辑</button>-->
<!--            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
<!--        </script>-->

<!--        <script>-->
<!--            function test(){-->
<!--                this.console.log("12312312");-->
<!--                this.alert("123123123")-->
<!--            }-->

<!--            layui.use('table', function(){-->
<!--                var table = layui.table;-->

<!--                table.render({-->
<!--                    elem: '#test'-->
<!--                    ,url:'/menu/findAll'-->
<!--                    ,title: '菜单列表'-->
<!--                    ,cols: [-->
<!--                        [-->
<!--                            {field:'id', width:100, title: '序号', sort: true}-->
<!--                            ,{field:'name', width:200, title: '地点',templet:function (data){-->
<!--                                return data.location.name-->
<!--                            }}-->
<!--                            ,{field:'name', width:100, title: '设备编号'}-->
<!--                            // ,{field:'flavor', width:100, title: '品牌'}-->
<!--                            ,{field:'flavor',width:100,  title: '品牌',templet:function(data){-->
<!--                                return data.brand.name;-->
<!--                            }}-->
<!--                            ,{field:'tid',width:100,  title: '运营商',templet:function(data){-->
<!--                                return data.type.name-->
<!--                            }-->
<!--                        }-->
<!--                            ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:120}-->
<!--                        ]-->
<!--                    ]-->
<!--                    ,page: true-->
<!--                });-->

<!--                //监听行工具事件-->
<!--                table.on('tool(test)', function(obj){-->
<!--                    var data = obj.data;-->
<!--                    if(obj.event === 'del'){-->
<!--                        layer.confirm('确定要删除吗？', function(index){-->
<!--                            window.location.href="/menu/deleteById/"+data.id;-->
<!--                            layer.close(index);-->
<!--                        });-->
<!--                    }-->
<!--                    // else if(obj.event === 'edit'){-->
<!--                    //     window.location.href="/menu/findById/"+data.id;-->
<!--                    // }-->
<!--                });-->
<!--            });-->
<!--        </script>-->

    </div>
</div>
<script>
    //二级菜单联动
    layui.use('element', function(){
        var element = layui.element;

    });
</script>

<script th:src="@{/layui/script.js}" charset="utf-8"></script>
<!--<script src="/layui/script.js"></script>-->
<script type="text/javascript">
    var vue = new Vue({
        el: "#app",
        data: {
            tableData: [],
            type: "",
            location: "",
            brand: "",
            pageNum: '',
            pageSize: ''
        },
        methods: {
            search(){
                let self = this;
                console.log(self.type)
                $.ajax({
                    url: 'http://localhost:8020/menu/menu',
                    type: "GET",
                    async: false,
                    contentType: "application/json",
                    data: {
                        "type": self.type,
                        "brand": self.brand,
                        "location": self.location,
                        "pageNum": self.pageNum,
                        "pageSize": self.pageSize
                    },
                    dataType: "json",
                    success: data => {
                        self.tableData = data.list;
                        console.log(self.tableData)
                        console.log(data)
                    },
                    error: function (e) {
                        console.log(e)
                    }
                });
                console.log(this.tableData)
            },
            getTableData() {
                let self = this;
                $.ajax({
                    url: '/menu/findAll',
                    type: "GET",
                    async: false,
                    contentType: "application/json",
                    data: {
                        "page": 1,
                        "limit": 10
                    },
                    dataType: "json",
                    success: data => {
                        self.tableData = data.data
                        // self.list.forEach(item => {
                        //     item.state = 1
                        // })
                        console.log(data)
                    },
                    error: function (e) {
                        console.log(e)
                    }
                });
            }
        },
        mounted() {
            this.getTableData()
        }
    })
</script>

</body>
</html>